<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.magic.sangha.mapper.ILableMapper">

	<resultMap type="LableBean" id="BaseLable">
	
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="lable" property="lable" javaType="java.lang.String"/>
		<result column="role_id" property="roleId" javaType="java.lang.Integer"/>
		<result column="numbers" property="number" javaType="java.lang.Integer"/>
	</resultMap>
	
	<insert id="batchAdd">
		insert into t_comment_lable (lable,role_id) values
		<foreach collection="lables" item="lablebean" index="index" separator=",">
			(#{lablebean.lable},#{lablebean.roleId})
		</foreach>
	</insert>
	
	<select id="batchSelect" resultMap="BaseLable">
	
		select * from t_comment_lable where id in
		<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
			#{id}
		</foreach>
	
	</select>
	
	<select id="findByRoleId" resultMap="BaseLable">
	
		select * from t_comment_lable where 1=1 and numbers is not null
		<if test="roleId != null">
			and role_id=#{roleId}
		</if>
	
	</select>
	
	<select id="findAll" resultMap="BaseLable">
		select * from t_comment_lable where 1=1
		<if test="roleId != null">
			and role_id=#{roleId}
		</if>
	</select>
	
	<update id="batchUpdateLables">
	
		update t_comment_lable 
		<if test="type == null">
			set numbers=1 where id in 
			<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
		<if test="type != null">
			set numbers=null where role_id = #{type}
		</if>
	
	</update>
	
	<delete id="batchDel">
		delete from t_comment_lable where id in
			<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>

</mapper>