<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.magic.sangha.mapper.IRoleMapper">

	<resultMap type="RoleBean" id="BaseRole">
	
		<result column="id" property="id" javaType="java.lang.Integer"/>
		<result column="role" property="roleName" javaType="java.lang.String"/>
		<result column="describe" property="describe" javaType="java.lang.String"/>
		<association property="powers" column="id" select="com.magic.sangha.mapper.IRolePowerMapper.findByRoleId"></association>

	</resultMap>
	
	
	<select id="findById"  resultMap="BaseRole">
	
		select * from t_role where id=#{id}
		
	</select>
	
	<select id="findAll" resultMap="BaseRole">
		select id,role,`describe`  from t_role
	</select>


</mapper>